:root {
  --text-color: #ffffff;
  --main-color: #13bbff;
}
.anima-hover {
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.anima-hover:hover {
  transform: scale(1.2);
  text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
.spn-bg {
  display: inline-block;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.spn-bg:hover {
  transform: scale(1.5);
  text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
.img-img {
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.img-img:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 70px var(--main-color), -2px 1px 30px var(--text-color);
}
.card-card {
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.card-card:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 70px var(--main-color), -2px 1px 30px var(--text-color);
}
